community==1.0.0b1
matplotlib==3.10.1
networkx==3.4.2
numpy==2.2.4
python_louvain==0.16
Requests==2.32.3
scikit_learn==1.6.1
scipy==1.15.2
sentence_transformers==3.4.1
torch==2.5.1
torch_scatter==2.1.2+pt25cu124
tqdm==4.67.1
transformers==4.48.1
